
body {
    background-color: rgb(13, 17, 23);
    color: rgb(201, 209, 217);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.d {
    display: flex;
}

.main {
    margin: auto;
    margin-top: 0;
    width: 50%;
    border-color: rgb(48, 54, 61);
    border-width: 1px;
    border-style: solid;
    padding: 50px;
}

code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgb(53, 58, 65);
    border-radius: 6px;
    white-space:normal;
}

pre {
    position: relative;
    font-family: Consolas;
    background-color: rgb(22, 27, 34);
    border-radius: 5px;
    padding: 20px;
    overflow-x: auto;
}

.emojiImg {
    width: 1.5em;
    height: 1.5em;
}

a {
    color: rgb(56, 165, 255);
}

.biggerLines {
    margin-left: 30px;
    line-height: 2em;
}

.biggerLinesUl {
    margin-left: 30px;
}

.biggerLinesUl li {
    margin-top: 5px;
    line-height: 2em;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

.contents {
    margin-left: 0;
    top: 50px;
    position: fixed;
    width: 20%;
    overflow-y: auto;
    height: 90%;
}

.contents p {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

li { 
    display: block;
    position: relative;
    margin-bottom: 0.3em;
}
/*li:before {
    font-weight: bold;
}*/


/*scroll*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}