.alertDiv {
    position: absolute;
    top: -200px;
    left: 34%;
    width: 26%;
    height: 150px;
    z-index: 200;
    background-color: var(--light-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-light-color);
}

@keyframes showAlert {
    0% { top: -200px; }
    100% { top: 20%; }
}

@keyframes hideAlert {
    0% { top: 20%; }
    100% { top: -200px; }
}

.alertH2 {
    position: absolute;
    top: -5px;
    left: 5px;
}

.alertLabel {
    position: absolute;
    top: 50px;
    left: 10px;
}

.alertOKbutton {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: var(--main-color);
    transition: all;
    transition-duration: 0.4s;
}

.alertOKbutton:hover {
    background-color: var(--secondary-light-color);
    transition: all;
    transition-duration: 0.4s;
}

.alertCancelButton {
    position: absolute;
    right: 60px;
    bottom: 5px;
    background-color: var(--main-color);
    transition: all;
    transition-duration: 0.4s;
}

.cancelButton:hover {
    background-color: var(--secondary-light-color);
    transition: all;
    transition-duration: 0.4s;
}