.python_operators {
    color: rgb(121, 192, 255);
}

.python_keywords {
    color: rgb(255, 166, 64);
}

.python_numbers {
    color: rgb(121, 192, 255);
}

.python_string {
    color: rgb(121, 192, 255);
}

.python_comment {
    color: rgb(47, 150, 47);
}

.python_multiline_comment {
    color: rgb(182, 69, 69);
}

.python_cheese_annotation {
    color: rgb(170, 136, 43)
}

.python_annotation {
    color: rgb(210, 168, 255);
}

.python_class {
    color: rgb(165, 214, 255);
}

.python_def {
    color: rgb(121, 192, 255);
}